/* Inter Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Lato Font Import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 65%;
}

.body {
  font-size: 16rem;
  font-weight: 600;
  font-family: "Lato";
  background-color: #f9fafb;
  color: #1e1e1e;
}

.container {
  //   max-width: 130rem;
  //   margin: auto;
  padding: 1rem 1.6rem;
}

.to-do {
  display: flex;
  flex-direction: column;
//   align-items: center;
  gap: 1rem;

  //   height: 100vh;

  &__heading {
   //  margin-top: 2rem;
  }

  &__heading-info {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__search {
    padding: 0.8rem 1.6rem;
    border: 1px solid #6c63ff;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 3.4rem;

    & img {
      display: block;
      width: 1.4rem;
    }
  }

  &__select-part {
    display: flex;
    align-items: center;
    gap: 1.4rem;

    padding: 1rem 1.6rem;
    font-size: 1.2rem;
    //  height: 3.8rem;

    background-color: #6c63ff;
    color: #ffffff;
    border-radius: 5px;

    & img {
      display: block;
      width: 0.8rem;
    }
  }
}

.list-item {
  width: 100%;

  &__lists {
    padding: 1rem;
    border-bottom: 1px solid #6c63ff;

    display: flex;
    //  align-items: center;
    justify-content: space-between;
  }

  &__list-check {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    & p {
      font-weight: 600;
    }
  }

  &__edits {
   display: flex;
   align-items: center;
   gap: 1.2rem;

   & img {
      display: block;
      width: 1.8rem;
      color: #cdcdcd;
   }
  }
}

input {
  width: 100%;
  padding: 0rem;
  border: none;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}
